<div class="ButtonFilter">
    {% if app.request.attributes.get('id') is null %}
        <div class="my-2">
            <a class=" {% if app.request.attributes.get('_route') == 'app_tableau' and app.request.attributes.get('param') is null and app.request.attributes.get('value') is null %} filter {% endif %}" href="{{ path('app_tableau') }}"> <button type="button" class="btn btn-secondary">Tous</button></a>
        </div>

        <div class="btn-group my-2" role="group" aria-label="Basic example">
            <div class="btn btn-secondary {% if app.request.attributes.get('param') == 'is_radioactif' %} filter {% endif %}">Radioactif</div>
            <a class=" {% if app.request.attributes.get('param') == 'is_radioactif' and app.request.attributes.get('value') == '1' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'is_radioactif', 'value': '1'}) }}"><button type="button" class="btn btn-secondary">Oui</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'is_radioactif' and app.request.attributes.get('value') == '0' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'is_radioactif', 'value': '0'}) }}"><button type="button" class="btn btn-secondary">Non</button></a>
        </div>
        <div class="btn-group my-2 BlocInfoPeriode" role="group" aria-label="Basic example">
            <div class="btn btn-secondary  {% if app.request.attributes.get('param') == 'infoPeriode' %} active {% endif %}">Pèriode</div>
            <a class=" {% if app.request.attributes.get('param') == 'infoPeriode' and app.request.attributes.get('value') == '1' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoPeriode', 'value': '1'}) }}"><button type="button" class="btn btn-secondary">1</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoPeriode' and app.request.attributes.get('value') == '2' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoPeriode', 'value': '2'}) }}"><button type="button" class="btn btn-secondary">2</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoPeriode' and app.request.attributes.get('value') == '3' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoPeriode', 'value': '3'}) }}"><button type="button" class="btn btn-secondary">3</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoPeriode' and app.request.attributes.get('value') == '4' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoPeriode', 'value': '4'}) }}"><button type="button" class="btn btn-secondary">4</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoPeriode' and app.request.attributes.get('value') == '5' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoPeriode', 'value': '5'}) }}"><button type="button" class="btn btn-secondary">5</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoPeriode' and app.request.attributes.get('value') == '6' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoPeriode', 'value': '6'}) }}"><button type="button" class="btn btn-secondary">6</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoPeriode' and app.request.attributes.get('value') == '7' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoPeriode', 'value': '7'}) }}"><button type="button" class="btn btn-secondary">7</button></a>
        </div>

        <div class="btn-group my-2 BlocInfoGroup" role="group" aria-label="Basic example">
            <div class="btn btn-secondary  {% if app.request.attributes.get('param') == 'infoGroupe' %} active {% endif %}">GroupeA</div>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '1' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '1'}) }}"><button type="button" class="btn btn-secondary">1</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '2' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '2'}) }}"><button type="button" class="btn btn-secondary">2</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '13' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '13'}) }}"><button type="button" class="btn btn-secondary">13</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '14' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '14'}) }}"><button type="button" class="btn btn-secondary">14</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '15' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '15'}) }}"><button type="button" class="btn btn-secondary">15</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '16' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '16'}) }}"><button type="button" class="btn btn-secondary">16</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '17' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '17'}) }}"><button type="button" class="btn btn-secondary">17</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '18' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '18'}) }}"><button type="button" class="btn btn-secondary">18</button></a>
        </div>
        <div class="btn-group my-2 BlocInfoGroup" role="group" aria-label="Basic example">
            <div class="btn btn-secondary  {% if app.request.attributes.get('param') == 'infoGroupe' %} active {% endif %}">GroupeB</div>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '3' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '3'}) }}"><button type="button" class="btn btn-secondary">3</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '4' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '4'}) }}"><button type="button" class="btn btn-secondary">4</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '5' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '5'}) }}"><button type="button" class="btn btn-secondary">5</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '6' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '6'}) }}"><button type="button" class="btn btn-secondary">6</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '7' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '7'}) }}"><button type="button" class="btn btn-secondary">7</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '8' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '8'}) }}"><button type="button" class="btn btn-secondary">8</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '9' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '9'}) }}"><button type="button" class="btn btn-secondary">9</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '10' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '10'}) }}"><button type="button" class="btn btn-secondary">10</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '11' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '11'}) }}"><button type="button" class="btn btn-secondary">11</button></a>
            <a class=" {% if app.request.attributes.get('param') == 'infoGroupe' and app.request.attributes.get('value') == '12' %} filter {% endif %}" href="{{ path('app_tableau', {'param': 'infoGroupe', 'value': '12'}) }}"><button type="button" class="btn btn-secondary">12</button></a>

        </div>
    {% endif %}

</div>