{% extends 'baseTable.html.twig' %}

{% block title %}Hello TableauController!{% endblock %}

{% block body %}
    <section class="ElementTable">
        <div class="container-fluid">

            <div class="BlocTableauFiltre my-5">
                <article>
                    <div class="tableau">
                        {% include 'table/table.html.twig' %}
                    </div>
                </article>
                <article class="blocPresentation">
                    {% if def is empty %}
                        <h1 class="text-center mt-5">Tableau périodique des éléments</h1>
                        <div>
                            <p>
                                Le tableau périodique que vous avez sous les yeux vous permet d'explorer les éléments chimiques d'une manière interactive et dynamique.
                                Chaque case représente un élément et vous pouvez cliquer directement sur les cases pour obtenir plus de détails sur un élément spécifique.
                                Vous avez également la possibilité de sélectionner des groupes et des périodes simplement en cliquant sur les colonnes ou les lignes correspondantes.
                            </p>
                            <p>
                                Que vous soyez intéressé par un groupe particulier, comme les métaux alcalins, ou par une période spécifique, notre tableau vous aidera à
                                naviguer facilement dans les différents éléments et à découvrir leurs propriétés.
                            </p>
                        </div>
                    {% endif %}
                        {% if def is not empty %}
                            <div class="defPageTable mt-5">

                                {% if def['definition'] is not null %}
                                <h1>{{ def['definition'].name }} {% if def['radioactif'] is defined %}{{ def['radioactif'] }}{% endif %}</h1>

                                <p>{{ def['definition'].definition| nl2br }}  </p>
                                {% endif %}

                                {% if def['periode'] is defined %}{% set var = 'periode' %}
                                {% elseif def['groupe'] is defined %}{% set var = 'groupe' %}
                                {% elseif def['category'] is defined %}{% set var = 'category' %}
                                {% endif %}

                                {% if var is defined %}
                                    <div class="separation my-3"></div>
                                    <h2>{{ def[var].name }}</h2>
                                    <p>{{ def[var].definition| nl2br }}  </p>
                                {% endif %}


                            </div>
                        {% endif %}
                </article>
            </div>
        </div>
    </section>
{% endblock %}



