{% set mapping = {
    '1,1': 1, '18,1': 2,
    '1,2': 3, '2,2': 4, '13,2': 5, '14,2': 6, '15,2': 7, '16,2': 8, '17,2': 9, '18,2': 10,
    '1,3': 11, '2,3': 12, '13,3': 13, '14,3': 14, '15,3': 15, '16,3': 16, '17,3': 17, '18,3': 18,
    '1,4': 19, '2,4': 20, '3,4': 21, '4,4': 22, '5,4': 23, '6,4': 24, '7,4': 25, '8,4': 26, '9,4': 27, '10,4': 28, '11,4': 29, '12,4': 30, '13,4': 31, '14,4': 32, '15,4': 33, '16,4': 34, '17,4': 35, '18,4': 36,
    '1,5': 37, '2,5': 38, '3,5': 39, '4,5': 40, '5,5': 41, '6,5': 42, '7,5': 43, '8,5': 44, '9,5': 45, '10,5': 46, '11,5': 47, '12,5': 48, '13,5': 49, '14,5': 50, '15,5': 51, '16,5': 52, '17,5': 53, '18,5': 54,
    '1,6': 55, '2,6': 56, '4,6': 72, '5,6': 73, '6,6': 74, '7,6': 75, '8,6': 76, '9,6': 77, '10,6': 78, '11,6': 79, '12,6': 80, '13,6': 81, '14,6': 82, '15,6': 83, '16,6': 84, '17,6': 85, '18,6': 86,
    '1,7': 87, '2,7': 88, '4,7': 104, '5,7': 105, '6,7': 106, '7,7': 107, '8,7': 108, '9,7': 109, '10,7': 110, '11,7': 111, '12,7': 112, '13,7': 113, '14,7': 114, '15,7': 115, '16,7': 116, '17,7': 117, '18,7': 118,
    '4,8': 57, '5,8': 58, '6,8': 59, '7,8': 60, '8,8': 61, '9,8': 62, '10,8': 63, '11,8': 64, '12,8': 65, '13,8': 66, '14,8': 67, '15,8': 68, '16,8': 69, '17,8': 70, '18,8': 71,
    '4,9': 89, '5,9': 90, '6,9': 91, '7,9': 92, '8,9': 93, '9,9': 94, '10,9': 95, '11,9': 96, '12,9': 97, '13,9': 98, '14,9': 99, '15,9': 100, '16,9': 101, '17,9': 102, '18,9': 103,
} %}
<div class="appli">
    <table class="Element">
        <thead>
            <tr>
                <th>
                    <div class="thTable">
                        <a href="{{ path('app_tableau') }}">
                            <div class="boxAtom ElementThHorizontal">
                                <div class="NbGroupVertical"> All </div>
                            </div>
                        </a>
                    </div>
                </th>
                {% for label, value in {1:'(IA)', 2:'(IIA)', 3:'(IIIB)',4:'(IVB)', 5:'(VB)', 6:'(VIB)', 7: '(VIIB)', 8:'(VIIIB)', 9:'(VIIIB)', 10:'(VIIIB)', 11:'(IB)', 12:'(IIB)', 13:'(IIIA)', 14:'(IVA)', 15:'(VA)', 16:'(VIA)', 17:'(VIIA)', 18:'(VIIIA)' }%}
                    <th>
                        <div class="thTable">
                            <a href="{{ path('app_tableau', {'param': 'GroupeVertical', 'value': label}) }}">
                                <div class="boxAtom ElementThHorizontal">
                                    <div class="NbGroupVertical"> {{ label}}</div>
                                    <div class="RomainGroupVertical"> {{ value }}</div>
                                </div>
                            </a>
                        </div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        {% set id=1 %}
        {% for y  in 1..9 %}
        <tbody>
            <tr>
                <th scope="row">
                    {% if y<=7 %}
                        <a href="{{ path('app_tableau', {'param': 'PeriodeHorizontal', 'value': y}) }}">
                            <div class="thTable">
                                <div class="boxAtom">{{ y }}</div>
                            </div>
                        </a>
                    {% endif %}
                </th>
                {% set sequence = (y == 1) ? [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18] : range(1, 18) %}{# Pour le bouton radioactif avec colspan #}
                {% for x in sequence %}
                    {% set key = x ~ ',' ~ y %}
                    {% set id = mapping[key] ?? null %}

                    {% if
                        y==1 and  x>1 and x<4  or y==1 and  x>4 and x<18 or
                        y==2 and  x>2 and x<13 or
                        y==3 and  x>2 and x<13 or
                        y==8 and  x>=1 and x<4 or
                        y==9 and  x>=1 and x<4
                    %}
                        <td class="tdTable" style="background-color: #cccccc">
                            <div class="boxAtom text-center"></div>
                        </td>
                    {% elseif y==1 and  x==4 %} {# ----------------------------Bouton radioactif #}
                        <td class="tdTable BlocRadioactif" style="background-color: #FFFFFF" colspan="2">
                            <span class="Buttonname">Radioactif ?</span><br>
                            <div class="ButtonRadioactif">
                                <a href="{{ path('app_tableau', {'param': 'Radioactif', 'value': 1}) }}"><div class="RadioactifYes">oui</div></a>
                                <a href="{{ path('app_tableau', {'param': 'Radioactif', 'value': 0}) }}"><div class="RadioactifNo">non</div></a>
                            </div>
                        </td>
                    {% elseif y==6 and  x==3 %} {#---------------------------------- Lanthanides #}
                        {% if Lanthanides != false %}
                            <td class="tdTable"  style="background-color: {{ category[3].getColor() }};">
                                <div class="boxAtom text-center"  >
                                    <span class="nom">Lanthanides</span><br>
                                    <span class='numero numeroLanthanides'>57-71</span>
                                </div>
                            </td>
                        {% else %}
                            <td class="tdTable couleurTdVide"></td>
                        {% endif %}
                    {% elseif y==7 and  x==3 %}{#---------------------------------- Actinide #}
                        {% if Actinides != false %}
                            <td class="tdTable" style="background-color: {{ category[0].getColor() }};">
                                <div class="boxAtom text-center">
                                    <span class="nom">Actinides</span><br>
                                    <span class='numero numeroActinides'>89-103</span>
                                </div>
                            </td>
                        {% else %}
                            <td class="tdTable couleurTdVide">
                        {% endif %}

                    {% else %}
                        {% if Elements[id] is defined %}
                            <td class="tdTable" style="background-color: {{ Elements[id].ElementCategory.color }};">
                                <a href="{{path('app_read_element', {'id': id})}}">
                                    <div class="boxAtom text-center">
                                        <span class="nom">{{ Elements[id].nom }}</span>
                                        <span class="symbole">{{ Elements[id].symbole }}</span>
                                        <span class="numero">{{ Elements[id].numero }}</span>
                                        <span class="masseAtomique">{{ Elements[id].masseAtomique|round(2, 'ceil') }}</span>
                                    </div>
                                </a>
                            </td>
                        {% else %}
                            <td class="tdTable couleurTdVide">
                                <div class="boxAtom text-center"></div>
                            </td>
                        {% endif %}
                        {% set id = id+1 %}
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>