{% set mapping = {
    '1,1': 1, '18,1': 2,
    '1,2': 3, '2,2': 4, '13,2': 5, '14,2': 6, '15,2': 7, '16,2': 8, '17,2': 9, '18,2': 10,
    '1,3': 11, '2,3': 12, '13,3': 13, '14,3': 14, '15,3': 15, '16,3': 16, '17,3': 17, '18,3': 18,
    '1,4': 19, '2,4': 20, '3,4': 21, '4,4': 22, '5,4': 23, '6,4': 24, '7,4': 25, '8,4': 26, '9,4': 27, '10,4': 28, '11,4': 29, '12,4': 30, '13,4': 31, '14,4': 32, '15,4': 33, '16,4': 34, '17,4': 35, '18,4': 36,
    '1,5': 37, '2,5': 38, '3,5': 39, '4,5': 40, '5,5': 41, '6,5': 42, '7,5': 43, '8,5': 44, '9,5': 45, '10,5': 46, '11,5': 47, '12,5': 48, '13,5': 49, '14,5': 50, '15,5': 51, '16,5': 52, '17,5': 53, '18,5': 54,
    '1,6': 55, '2,6': 56, '4,6': 72, '5,6': 73, '6,6': 74, '7,6': 75, '8,6': 76, '9,6': 77, '10,6': 78, '11,6': 79, '12,6': 80, '13,6': 81, '14,6': 82, '15,6': 83, '16,6': 84, '17,6': 85, '18,6': 86,
    '1,7': 87, '2,7': 88, '4,7': 104, '5,7': 105, '6,7': 106, '7,7': 107, '8,7': 108, '9,7': 109, '10,7': 110, '11,7': 111, '12,7': 112, '13,7': 113, '14,7': 114, '15,7': 115, '16,7': 116, '17,7': 117, '18,7': 118,
    '4,8': 57, '5,8': 58, '6,8': 59, '7,8': 60, '8,8': 61, '9,8': 62, '10,8': 63, '11,8': 64, '12,8': 65, '13,8': 66, '14,8': 67, '15,8': 68, '16,8': 69, '17,8': 70, '18,8': 71,
    '4,9': 89, '5,9': 90, '6,9': 91, '7,9': 92, '8,9': 93, '9,9': 94, '10,9': 95, '11,9': 96, '12,9': 97, '13,9': 98, '14,9': 99, '15,9': 100, '16,9': 101, '17,9': 102, '18,9': 103,
} %}

<div class="appli">
    <table class="Element" id="TableOfElement">
        <thead>
            <tr>
                <th>
                    <div class="thTable">
                        <a href="{{ path('app_tableau') }}">
                            <div class="boxAtom ElementThHorizontal">
                                <div class="NbGroupVertical"> All </div>
                            </div>
                        </a>
                    </div>
                </th>
                {% for label, value in {1:'(IA)', 2:'(IIA)', 3:'(IIIB)',4:'(IVB)', 5:'(VB)', 6:'(VIB)', 7: '(VIIB)', 8:'(VIIIB)', 9:'(VIIIB)', 10:'(VIIIB)', 11:'(IB)', 12:'(IIB)', 13:'(IIIA)', 14:'(IVA)', 15:'(VA)', 16:'(VIA)', 17:'(VIIA)', 18:'(VIIIA)' }%}
                    <th>
                        <div class="thTable">
                            <a href="{{ path('app_tableau', {'param': 'groupeVertical', 'value': label}) }}">
                                <div class="boxAtom ElementThHorizontal">
                                    <div class="NbGroupVertical"> {{ label}}</div>
                                    <div class="RomainGroupVertical"> {{ value }}</div>
                                </div>
                            </a>
                        </div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        {% set id=1 %}
        {% for y  in 1..9 %}
        <tbody>
            <tr>
                <th scope="row">
                    {% if y<=7 %}
                        <a href="{{ path('app_tableau', {'param': 'periodeHorizontal', 'value': y}) }}">
                            <div class="thTable">
                                <div class="boxAtom">{{ y }}</div>
                            </div>
                        </a>
                    {% endif %}
                </th>
                {% if y==1 %}
                    {% set sequence = [1, 2, 3, 5, 7, 9, 10, 11, 12, 13, 18] %}{# Retirer les colspans supplémentaires : exemple radioactif x=4 et catégory x=6 #}
                {% elseif y==2 %}
                    {% set sequence = [1, 2, 3, 13, 14, 15, 16, 17, 18] %}{# Retirer les colspans supplémentaires : 4, 5, 6, 7, 8, 9, 10, 11, 12 #}
                {% elseif y==3 %}
                    {% set sequence = [1, 2, 3, 13, 14, 15, 16, 17, 18] %}{# Retirer les colspans supplémentaires : 4, 5, 6, 7, 8, 9, 10, 11, 12 #}
                {% else%}
                    {% set sequence = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18] %}{# Créer une nouvelle pour un autre y #}
                {% endif %}

                {% for x in sequence %}
                    {% set key = x ~ ',' ~ y %}
                    {% set id = mapping[key] ?? null %}

                    {# Les x sont vides et non utilisés  #}
                    {% if
                        y==1 and x in [2, 9, 10, 11, 12] or
                        y==8 and x in [1, 2, 3] or
                        y==9 and x in [1, 2, 3]
                    %}<td><div class="boxAtom text-center"></div></td>
                    {# Les x sont vides et non utilisés  #}
                    {% elseif y==2 and x in [3, 4, 5, 6, 7, 8, 9, 10, 11, 12] %} {# Espace de selection -> retirer 4, 5, 6, 7, 8, 9, 10, 11, 12 de la sequence y==2 + des x vides#}
                        <td colspan="10">
                            <div class="row">
                                <div class="col-3 Radioactifspace" style="display: none;">
                                    <a href="{{ path('app_tableau', {'param': 'radioactif', 'value': 1}) }}"><div class="RadioactifYes SelectionSpace">Oui</div></a>
                                    <a href="{{ path('app_tableau', {'param': 'radioactif', 'value': 0}) }}"><div class="RadioactifNo SelectionSpace">Non</div></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" CategoryList1" style="display: none;">
                                    <a href="{{ path('app_tableau', {'param': 'elementCategory', 'value': 1}) }}"><div class=" SelectionSpace">Actinide, </div></a>
                                    <a href="{{ path('app_tableau', {'param': 'elementCategory', 'value': 2}) }}"><div class=" SelectionSpace">Gaze noble, </div></a>
                                    <a href="{{ path('app_tableau', {'param': 'elementCategory', 'value': 3}) }}"><div class=" SelectionSpace">Halogène, </div></a>
                                    <a href="{{ path('app_tableau', {'param': 'elementCategory', 'value': 4}) }}"><div class=" SelectionSpace">Lanthanide, </div></a>
                                    <a href="{{ path('app_tableau', {'param': 'elementCategory', 'value': 5}) }}"><div class=" SelectionSpace">Métal alcalin, </div></a>
                                    <a href="{{ path('app_tableau', {'param': 'elementCategory', 'value': 6}) }}"><div class=" SelectionSpace">Métal alcalino terreux, </div></a>
                                    <a href="{{ path('app_tableau', {'param': 'elementCategory', 'value': 7}) }}"><div class=" SelectionSpace">Métal de transition,</div></a>
                                    <a href="{{ path('app_tableau', {'param': 'elementCategory', 'value': 8}) }}"><div class=" SelectionSpace">Métalloide,</div></a>
                                    <a href="{{ path('app_tableau', {'param': 'elementCategory', 'value': 9}) }}"><div class=" SelectionSpace">Métal pauvre,</div></a>
                                    <a href="{{ path('app_tableau', {'param': 'elementCategory', 'value': 10}) }}"><div class=" SelectionSpace">Non métal.</div></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" ChemicalStateList" style="display: none;" >
                                    <a href="{{ path('app_tableau', {'param': 'ChemicalState', 'value': "gazeux"}) }}"><div class=" SelectionSpace">Gazeux, </div></a>
                                    <a href="{{ path('app_tableau', {'param': 'ChemicalState', 'value': "liquide"}) }}"><div class=" SelectionSpace">Liquide, </div></a>
                                    <a href="{{ path('app_tableau', {'param': 'ChemicalState', 'value': "solide"}) }}"><div class=" SelectionSpace">Solide. </div></a>


                                </div>
                            </div>
                        </td>
                    {% elseif y==3 and x in [3, 4, 5, 6, 7, 8, 9, 10, 11, 12] %} {# Espace de selection 2 voir pour utilisation en responsive#}
                        <td colspan="10" class="bob">
                            <div class="row">
                                <div class=" CategoryListe2" style="display: none;" >
                                    {# TODO : voir pour un affichage en fonction média en js #}
                                </div>
                            </div>
                        </td>
                    {% elseif y==1 and x in [13, 14, 15, 16, 17] %} {# --------Espace d'affichage du nom element -> retirer  14, 15, 16, 17 de la sequence y==1 + des x vides#}
                        <td colspan="5">
                            <p class="ElementTooltip"></p>
                        </td>
                    {% elseif y==1 and x in [3, 4] %} {# ----------------------Bouton radioactif -> retirer 4  de la sequence y==1 + des x vides#}
                        <td class="ButtonFilterTable BlocRadioactif" style="background-color: #FFFFFF" colspan="2">
                            <span class="Buttonname">Radioactif ?</span><br>
                        </td>
                    {% elseif y==1 and x in [5, 6] %} {# ----------------------Bouton catégories -> retirer 6  de la sequence y==1 + des x vides#}
                        <td class="ButtonFilterTable BlocCatégories" style="background-color: #FFFFFF" colspan="2">
                            <span class="Buttonname">Les catégories</span><br>
                        </td>
                    {% elseif y==1 and x in [7,8] %} {# ----------------------Bouton état physique -> retirer 8  de la sequence y==1 + des x vides#}
                        <td class="ButtonFilterTable BlocChemicalState" style="background-color: #FFFFFF" colspan="2">
                            <span class="Buttonname">Etat chimique</span><br>
                        </td>
                    {% elseif y==6 and x in [3] %} {#---------------------------------- Lanthanides #}
                        {% if Lanthanides != false %}
                            <td class="tdTable"  style="background-color: {{ category[3].getColor() }};">
                                <div class="boxAtom text-center"  >
                                    <span class="nom">Lanthanides</span><br>
                                    <span class='numero numeroLanthanides'>57-71</span>
                                </div>
                            </td>
                        {% else %}
                            <td class="tdTableEmpty couleurTdVide"></td>
                        {% endif %}
                    {% elseif y==7 and x in [3] %}{#---------------------------------- Actinide #}
                        {% if Actinides != false %}
                            <td class="tdTable" style="background-color: {{ category[0].getColor() }};">
                                <div class="boxAtom text-center">
                                    <span class="nom">Actinides</span><br>
                                    <span class='numero numeroActinides'>89-103</span>
                                </div>
                            </td>
                        {% else %}
                            <td class="tdTableEmpty couleurTdVide">
                        {% endif %}
                    {% else %}{#---------------------------------- Tous les éléments #}
                        {% if Elements[id] is defined %}
                            <td class="tdTable" style="background-color: {{ Elements[id].ElementCategory.color }};">
                                <a href="{{path('app_read_element', {'id': id})}}">
                                    <div class="boxAtom text-center">
                                        <span class="nom">{{ Elements[id].nom }}</span>
                                        <span class="symbole">{{ Elements[id].symbole }}</span>
                                        <span class="numero">{{ Elements[id].numero }}</span>
                                        <span class="masseAtomique">{{ Elements[id].masseAtomique|round(2, 'ceil') }}</span>
                                    </div>
                                </a>
                            </td>
                        {% else %}
                            <td class="tdTableEmpty couleurTdVide">
                                <div class="boxAtom text-center"></div>
                            </td>
                        {% endif %}
                        {% set id = id+1 %}
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

