

<div class="appli">

    <table>
        <tr>
            <th></th>
            <th>1 <br> <span>(IA)</span></th>
            <th>2 <br><span> (IIA)</span></th>
            <th>3 <br><span>(IIIB)</span></th>
            <th>4 <br><span>(IVB)</span></th>
            <th>5 <br><span>(VB)</span></th>
            <th>6 <br><span>(VIB)</span></th>
            <th>7 <br><span>(VIIB)</span></th>
            <th>8 <br><span>(VIIIB)</span></th>
            <th>9 <br><span>(VIIIB)</span></th>
            <th>10 <br><span>(VIIIB)</span></th>
            <th>11 <br><span>(IB)</span></th>
            <th>12 <br><span>(IIB)</span></th>
            <th>13 <br><span>(IIIA)</span></th>
            <th>14 <br><span>(IVA)</span></th>
            <th>15 <br><span>(VA)</span></th>
            <th>16 <br><span>(VIA)</span></th>
            <th>17 <br><span>(VIIA)</span></th>
            <th>18 <br><span>(VIIIA)</span></th>
        </tr>
        <!------------------------------------------------------------------------------------------------------------->
        <!----------------------------------------- LIGNE 1 ----------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <tr>
            <th>1</th>

            <td>
                <a href="{{path('app_read_atom', {'id': 1})}}">
                    {% if Atomes[1] is defined %}
                        <div class="boxAtom text-center {{ Atomes[1].famille }}">
                            <span class="nom">{{ Atomes[1].nom }}</span>
                                <span class="symbole">{{ Atomes[1].symbole }}</span>
                                <span class="numero">{{ Atomes[1].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[1].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>

            <td class="affichage">

            </td>
            <!------------------------------------------------------------------------------------------------------------->
            <!----------------------------------- Affichage zone ecran 1--------------------------------------------------------->
            <!----------------------------------------------------------------------------------------------------------------->
            <td colspan="2" rowspan="2" class="affichage">

            </td>
            <!------------------------------------------------------------------------------------------------------------->
            <!----------------------------------- Affichage zone ecran 2 --------------------------------------------------------->
            <!----------------------------------------------------------------------------------------------------------------->
            <td colspan="8" rowspan="3" class="affichage" id="defAffiche">

            </td>
            <!---------------------------------------------------------------------------------------------------------------->
            <td colspan="5" class="affichage ZoneLigne8 zoneLigne2">

            </td>
            <!---------------------------------------------------------------------------------------------------------------->
            <td>
                <a href="{{path('app_read_atom', {'id': 2})}}">
                    {% if Atomes[2] is defined %}
                        <div class="boxAtom text-center {{ Atomes[2].famille }}">
                            <span class="nom">{{ Atomes[2].nom }}</span>
                            <span class="symbole">{{ Atomes[2].symbole }}</span>
                            <span class="numero">{{ Atomes[2].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[2].masseAtomique |round(2, 'ceil')}}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>

        </tr>
        <!------------------------------------------------------------------------------------------------------------->
        <!----------------------------------------- LIGNE 2 ----------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <tr>
            <th>2</th>
            <td>
                <a href="{{path('app_read_atom', {'id': 3})}}">
                    {% if Atomes[3] is defined %}
                        <div class="boxAtom text-center {{ Atomes[3].famille }}">
                            <span class="nom">{{ Atomes[3].nom }}</span>
                            <span class="symbole">{{ Atomes[3].symbole }}</span>
                            <span class="numero">{{ Atomes[3].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[3].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 4})}}">
                    {% if Atomes[4] is defined %}
                        <div class="boxAtom text-center {{ Atomes[4].famille }}">
                            <span class="nom">{{ Atomes[4].nom }}</span>
                            <span class="symbole">{{ Atomes[4].symbole }}</span>
                            <span class="numero">{{ Atomes[4].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[4].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                         <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 5})}}">
                    {% if Atomes[5] is defined %}
                        <div class="boxAtom text-center {{ Atomes[5].famille }}">
                            <span class="nom">{{ Atomes[5].nom }}</span>
                            <span class="symbole">{{ Atomes[5].symbole }}</span>
                            <span class="numero">{{ Atomes[5].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[5].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 6})}}">
                    {% if Atomes[6] is defined %}
                        <div class="boxAtom text-center {{ Atomes[6].famille }}">
                            <span class="nom">{{ Atomes[6].nom }}</span>
                            <span class="symbole">{{ Atomes[6].symbole }}</span>
                            <span class="numero">{{ Atomes[6].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[6].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 7})}}">
                    {% if Atomes[7] is defined %}
                        <div class="boxAtom text-center {{ Atomes[7].famille }}">
                            <span class="nom">{{ Atomes[7].nom }}</span>
                            <span class="symbole">{{ Atomes[7].symbole }}</span>
                            <span class="numero">{{ Atomes[7].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[7].masseAtomique |round(2, 'ceil')}}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 8})}}">
                    {% if Atomes[8] is defined %}
                        <div class="boxAtom text-center {{ Atomes[8].famille }}">
                            <span class="nom">{{ Atomes[8].nom }}</span>
                            <span class="symbole">{{ Atomes[8].symbole }}</span>
                            <span class="numero">{{ Atomes[8].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[8].masseAtomique |round(2, 'ceil')}}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 9})}}">
                    {% if Atomes[9] is defined %}
                        <div class="boxAtom text-center {{ Atomes[9].famille }}">
                            <span class="nom">{{ Atomes[9].nom }}</span>
                            <span class="symbole">{{ Atomes[9].symbole }}</span>
                            <span class="numero">{{ Atomes[9].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[9].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 10})}}">
                    {% if Atomes[10] is defined %}
                        <div class="boxAtom text-center {{ Atomes[10].famille }}">
                            <span class="nom">{{ Atomes[10].nom }}</span>
                            <span class="symbole">{{ Atomes[10].symbole }}</span>
                            <span class="numero">{{ Atomes[10].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[10].masseAtomique |round(2, 'ceil')}}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
        </tr>
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------ LIGNE 3 ---------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <tr>
            <th>3</th>
            <td>
                <a href="{{path('app_read_atom', {'id': 11})}}">
                    {% if Atomes[11] is defined %}
                        <div class="boxAtom text-center {{ Atomes[11].famille }}">
                            <span class="nom">{{ Atomes[11].nom }}</span>
                            <span class="symbole">{{ Atomes[11].symbole }}</span>
                            <span class="numero">{{ Atomes[11].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[11].masseAtomique |round(2, 'ceil')}}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 12})}}">
                    {% if Atomes[12] is defined %}
                        <div class="boxAtom text-center {{ Atomes[12].famille }}">
                            <span class="nom">{{ Atomes[12].nom }}</span>
                            <span class="symbole">{{ Atomes[12].symbole }}</span>
                            <span class="numero">{{ Atomes[12].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[12].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <!------------------------------------------------------------------------------------------------------------->
            <!----------------------------------- Affichage zone ecran 3--------------------------------------------------------->
            <!----------------------------------------------------------------------------------------------------------------->
            <td colspan="2" class="affichage Zone3">

            </td>
            <!--------------------------------------------------------------------------------------------------------------------->
            <td>
                <a href="{{path('app_read_atom', {'id': 13})}}">
                    {% if Atomes[13] is defined %}
                        <div class="boxAtom text-center {{ Atomes[13].famille }}">
                            <span class="nom">{{ Atomes[13].nom }}</span>
                            <span class="symbole">{{ Atomes[13].symbole }}</span>
                            <span class="numero">{{ Atomes[13].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[13].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 14})}}">
                    {% if Atomes[14] is defined %}
                        <div class="boxAtom text-center {{ Atomes[14].famille }}">
                            <span class="nom">{{ Atomes[14].nom }}</span>
                            <span class="symbole">{{ Atomes[14].symbole }}</span>
                            <span class="numero">{{ Atomes[14].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[14].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 15})}}">
                    {% if Atomes[15] is defined %}
                        <div class="boxAtom text-center {{ Atomes[15].famille }}">
                            <span class="nom">{{ Atomes[15].nom }}</span>
                            <span class="symbole">{{ Atomes[15].symbole }}</span>
                            <span class="numero">{{ Atomes[15].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[15].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 16})}}">
                    {% if Atomes[16] is defined %}
                        <div class="boxAtom text-center {{ Atomes[16].famille }}">
                            <span class="nom">{{ Atomes[16].nom }}</span>
                            <span class="symbole">{{ Atomes[16].symbole }}</span>
                            <span class="numero">{{ Atomes[16].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[16].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 17})}}">
                    {% if Atomes[17] is defined %}
                        <div class="boxAtom text-center {{ Atomes[17].famille }}">
                            <span class="nom">{{ Atomes[17].nom }}</span>
                            <span class="symbole">{{ Atomes[17].symbole }}</span>
                            <span class="numero">{{ Atomes[17].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[17].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 18})}}">
                    {% if Atomes[18] is defined %}
                        <div class="boxAtom text-center {{ Atomes[18].famille }}">
                            <span class="nom">{{ Atomes[18].nom }}</span>
                            <span class="symbole">{{ Atomes[18].symbole }}</span>
                            <span class="numero">{{ Atomes[18].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[18].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
        </tr>
        <!------------------------------------------------------------------------------------------------------------->
        <!---------------------------------------------- LIGNE 4 ------------------------------------------------------>
        <!------------------------------------------------------------------------------------------------------------->
        <tr>
            <th>4</th>
            <td>
                <a href="{{path('app_read_atom', {'id': 19})}}">
                    {% if Atomes[19] is defined %}
                        <div class="boxAtom text-center {{ Atomes[19].famille }}">
                            <span class="nom">{{ Atomes[19].nom }}</span>
                            <span class="symbole">{{ Atomes[19].symbole }}</span>
                            <span class="numero">{{ Atomes[19].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[19].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 20})}}">
                    {% if Atomes[20] is defined %}
                        <div class="boxAtom text-center {{ Atomes[20].famille }}">
                            <span class="nom">{{ Atomes[20].nom }}</span>
                            <span class="symbole">{{ Atomes[20].symbole }}</span>
                            <span class="numero">{{ Atomes[20].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[20].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 21})}}">
                        {% if Atomes[21] is defined %}
                            <div class="boxAtom text-center {{ Atomes[21].famille }}">
                                <span class="nom">{{ Atomes[21].nom }}</span>
                                <span class="symbole">{{ Atomes[21].symbole }}</span>
                                <span class="numero">{{ Atomes[21].numero }}</span>
                                <span class="masseAtomique">{{ Atomes[21].masseAtomique|round(2, 'ceil') }}</span>
                            </div>
                            {% else %}
                                <div class="boxAtom couleurTdVide"></div>
                            {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 22})}}">
                    {% if Atomes[22] is defined %}
                        <div class="boxAtom text-center {{ Atomes[22].famille }}">
                            <span class="nom">{{ Atomes[22].nom }}</span>
                            <span class="symbole">{{ Atomes[22].symbole }}</span>
                            <span class="numero">{{ Atomes[22].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[22].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 23})}}">
                    {% if Atomes[23] is defined %}
                        <div class="boxAtom text-center {{ Atomes[23].famille }}">
                            <span class="nom">{{ Atomes[23].nom }}</span>
                            <span class="symbole">{{ Atomes[23].symbole }}</span>
                            <span class="numero">{{ Atomes[23].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[23].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 24})}}">
                    {% if Atomes[24] is defined %}
                        <div class="boxAtom text-center {{ Atomes[24].famille }}">
                            <span class="nom">{{ Atomes[24].nom }}</span>
                            <span class="symbole">{{ Atomes[24].symbole }}</span>
                            <span class="numero">{{ Atomes[24].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[24].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 25})}}">
                    {% if Atomes[25] is defined %}
                        <div class="boxAtom text-center {{ Atomes[25].famille }}">
                            <span class="nom">{{ Atomes[25].nom }}</span>
                            <span class="symbole">{{ Atomes[25].symbole }}</span>
                            <span class="numero">{{ Atomes[25].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[25].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 26})}}">
                    {% if Atomes[26] is defined %}
                        <div class="boxAtom text-center {{ Atomes[26].famille }}">
                            <span class="nom">{{ Atomes[26].nom }}</span>
                            <span class="symbole">{{ Atomes[26].symbole }}</span>
                            <span class="numero">{{ Atomes[26].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[26].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 27})}}">
                    {% if Atomes[27] is defined %}
                        <div class="boxAtom text-center {{ Atomes[27].famille }}">
                            <span class="nom">{{ Atomes[27].nom }}</span>
                            <span class="symbole">{{ Atomes[27].symbole }}</span>
                            <span class="numero">{{ Atomes[27].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[27].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 28})}}">
                    {% if Atomes[28] is defined %}
                        <div class="boxAtom text-center {{ Atomes[28].famille }}">
                            <span class="nom">{{ Atomes[28].nom }}</span>
                            <span class="symbole">{{ Atomes[28].symbole }}</span>
                            <span class="numero">{{ Atomes[28].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[28].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 29})}}">
                    {% if Atomes[29] is defined %}
                        <div class="boxAtom text-center {{ Atomes[29].famille }}">
                            <span class="nom">{{ Atomes[29].nom }}</span>
                            <span class="symbole">{{ Atomes[29].symbole }}</span>
                            <span class="numero">{{ Atomes[29].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[29].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 30})}}">
                    {% if Atomes[30] is defined %}
                        <div class="boxAtom text-center {{ Atomes[30].famille }}">
                            <span class="nom">{{ Atomes[30].nom }}</span>
                            <span class="symbole">{{ Atomes[30].symbole }}</span>
                            <span class="numero">{{ Atomes[30].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[30].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 31})}}">
                    {% if Atomes[31] is defined %}
                        <div class="boxAtom text-center {{ Atomes[31].famille }}">
                            <span class="nom">{{ Atomes[31].nom }}</span>
                            <span class="symbole">{{ Atomes[31].symbole }}</span>
                            <span class="numero">{{ Atomes[31].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[31].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 32})}}">
                    {% if Atomes[32] is defined %}
                        <div class="boxAtom text-center {{ Atomes[32].famille }}">
                            <span class="nom">{{ Atomes[32].nom }}</span>
                            <span class="symbole">{{ Atomes[32].symbole }}</span>
                            <span class="numero">{{ Atomes[32].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[32].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 33})}}">
                    {% if Atomes[33] is defined %}
                        <div class="boxAtom text-center {{ Atomes[33].famille }}">
                            <span class="nom">{{ Atomes[33].nom }}</span>
                            <span class="symbole">{{ Atomes[33].symbole }}</span>
                            <span class="numero">{{ Atomes[33].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[33].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 34})}}">
                    {% if Atomes[34] is defined %}
                        <div class="boxAtom text-center {{ Atomes[34].famille }}">
                            <span class="nom">{{ Atomes[34].nom }}</span>
                            <span class="symbole">{{ Atomes[34].symbole }}</span>
                            <span class="numero">{{ Atomes[34].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[34].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 35})}}">
                    {% if Atomes[35] is defined %}
                        <div class="boxAtom text-center {{ Atomes[35].famille }}">
                            <span class="nom">{{ Atomes[35].nom }}</span>
                            <span class="symbole">{{ Atomes[35].symbole }}</span>
                            <span class="numero">{{ Atomes[35].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[35].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 36})}}">
                    {% if Atomes[36] is defined %}
                        <div class="boxAtom text-center {{ Atomes[36].famille }}">
                            <span class="nom">{{ Atomes[36].nom }}</span>
                            <span class="symbole">{{ Atomes[36].symbole }}</span>
                            <span class="numero">{{ Atomes[36].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[36].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
        </tr>
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------- LIGNE 5 --------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <tr>
            <th>5</th>
            <td>
                <a href="{{path('app_read_atom', {'id': 37})}}">
                    {% if Atomes[37] is defined %}
                        <div class="boxAtom text-center {{ Atomes[37].famille }}">
                            <span class="nom">{{ Atomes[37].nom }}</span>
                            <span class="symbole">{{ Atomes[37].symbole }}</span>
                            <span class="numero">{{ Atomes[37].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[37].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 38})}}">
                    {% if Atomes[38] is defined %}
                        <div class="boxAtom text-center {{ Atomes[38].famille }}">
                            <span class="nom">{{ Atomes[38].nom }}</span>
                            <span class="symbole">{{ Atomes[38].symbole }}</span>
                            <span class="numero">{{ Atomes[38].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[38].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 39})}}">
                    {% if Atomes[39] is defined %}
                        <div class="boxAtom text-center {{ Atomes[39].famille }}">
                            <span class="nom">{{ Atomes[39].nom }}</span>
                            <span class="symbole">{{ Atomes[39].symbole }}</span>
                            <span class="numero">{{ Atomes[39].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[39].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 40})}}">
                    {% if Atomes[40] is defined %}
                        <div class="boxAtom text-center {{ Atomes[40].famille }}">
                            <span class="nom">{{ Atomes[40].nom }}</span>
                            <span class="symbole">{{ Atomes[40].symbole }}</span>
                            <span class="numero">{{ Atomes[40].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[40].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 41})}}">
                    {% if Atomes[41] is defined %}
                        <div class="boxAtom text-center {{ Atomes[41].famille }}">
                            <span class="nom">{{ Atomes[41].nom }}</span>
                            <span class="symbole">{{ Atomes[41].symbole }}</span>
                            <span class="numero">{{ Atomes[41].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[41].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 42})}}">
                    {% if Atomes[42] is defined %}
                        <div class="boxAtom text-center {{ Atomes[42].famille }}">
                            <span class="nom">{{ Atomes[42].nom }}</span>
                            <span class="symbole">{{ Atomes[42].symbole }}</span>
                            <span class="numero">{{ Atomes[42].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[42].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 43})}}">
                    {% if Atomes[43] is defined %}
                        <div class="boxAtom text-center {{ Atomes[43].famille }}">
                            <span class="nom">{{ Atomes[43].nom }}</span>
                            <span class="symbole">{{ Atomes[43].symbole }}</span>
                            <span class="numero">{{ Atomes[43].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[43].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 44})}}">
                    {% if Atomes[44] is defined %}
                        <div class="boxAtom text-center {{ Atomes[44].famille }}">
                            <span class="nom">{{ Atomes[44].nom }}</span>
                            <span class="symbole">{{ Atomes[44].symbole }}</span>
                            <span class="numero">{{ Atomes[44].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[44].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 45})}}">
                    {% if Atomes[45] is defined %}
                        <div class="boxAtom text-center {{ Atomes[45].famille }}">
                            <span class="nom">{{ Atomes[45].nom }}</span>
                            <span class="symbole">{{ Atomes[45].symbole }}</span>
                            <span class="numero">{{ Atomes[45].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[45].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 46})}}">
                    {% if Atomes[46] is defined %}
                        <div class="boxAtom text-center {{ Atomes[46].famille }}">
                            <span class="nom">{{ Atomes[46].nom }}</span>
                            <span class="symbole">{{ Atomes[46].symbole }}</span>
                            <span class="numero">{{ Atomes[46].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[46].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 47})}}">
                    {% if Atomes[47] is defined %}
                        <div class="boxAtom text-center {{ Atomes[47].famille }}">
                            <span class="nom">{{ Atomes[47].nom }}</span>
                            <span class="symbole">{{ Atomes[47].symbole }}</span>
                            <span class="numero">{{ Atomes[47].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[47].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 48})}}">
                    {% if Atomes[48] is defined %}
                        <div class="boxAtom text-center {{ Atomes[48].famille }}">
                            <span class="nom">{{ Atomes[48].nom }}</span>
                            <span class="symbole">{{ Atomes[48].symbole }}</span>
                            <span class="numero">{{ Atomes[48].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[48].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 49})}}">
                    {% if Atomes[49] is defined %}
                        <div class="boxAtom text-center {{ Atomes[49].famille }}">
                            <span class="nom">{{ Atomes[49].nom }}</span>
                            <span class="symbole">{{ Atomes[49].symbole }}</span>
                            <span class="numero">{{ Atomes[49].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[49].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 50})}}">
                    {% if Atomes[50] is defined %}
                        <div class="boxAtom text-center {{ Atomes[50].famille }}">
                            <span class="nom">{{ Atomes[50].nom }}</span>
                            <span class="symbole">{{ Atomes[50].symbole }}</span>
                            <span class="numero">{{ Atomes[50].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[50].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 51})}}">
                    {% if Atomes[51] is defined %}
                        <div class="boxAtom text-center {{ Atomes[51].famille }}">
                            <span class="nom">{{ Atomes[51].nom }}</span>
                            <span class="symbole">{{ Atomes[51].symbole }}</span>
                            <span class="numero">{{ Atomes[51].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[51].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 52})}}">
                    {% if Atomes[52] is defined %}
                        <div class="boxAtom text-center {{ Atomes[52].famille }}">
                            <span class="nom">{{ Atomes[52].nom }}</span>
                            <span class="symbole">{{ Atomes[52].symbole }}</span>
                            <span class="numero">{{ Atomes[52].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[52].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 53})}}">
                    {% if Atomes[53] is defined %}
                        <div class="boxAtom text-center {{ Atomes[53].famille }}">
                            <span class="nom">{{ Atomes[53].nom }}</span>
                            <span class="symbole">{{ Atomes[53].symbole }}</span>
                            <span class="numero">{{ Atomes[53].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[53].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>

            <td>

                <a href="{{path('app_read_atom', {'id': 54})}}">
                    {% if Atomes[54] is defined %}
                        <div class="boxAtom text-center {{ Atomes[54].famille }}">
                            <span class="nom">{{ Atomes[54].nom }}</span>
                            <span class="symbole">{{ Atomes[54].symbole }}</span>
                            <span class="numero">{{ Atomes[54].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[54].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
        </tr>
        <!------------------------------------------------------------------------------------------------------------->
        <!-------------------------------------------- LIGNE 6 -------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <tr>
            <th>6</th>
            <td>
                <a href="{{path('app_read_atom', {'id': 55})}}">
                    {% if Atomes[55] is defined %}
                        <div class="boxAtom text-center {{ Atomes[55].famille }}">
                            <span class="nom">{{ Atomes[55].nom }}</span>
                            <span class="symbole">{{ Atomes[55].symbole }}</span>
                            <span class="numero">{{ Atomes[55].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[55].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 56})}}">
                    {% if Atomes[56] is defined %}
                        <div class="boxAtom text-center {{ Atomes[56].famille }}">
                            <span class="nom">{{ Atomes[56].nom }}</span>
                            <span class="symbole">{{ Atomes[56].symbole }}</span>
                            <span class="numero">{{ Atomes[56].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[56].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                {% if Lanthanides != false %}
                <div class="boxAtom text-center lanthanide">
                    <span class="nom">Lanthanides</span><br>
                    <span class='numero'>57 - 71</span>
                </div>
                {% else %}
                    <div class="boxAtom couleurTdVide"></div>
                {% endif %}
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 72})}}">
                    {% if Atomes[72] is defined %}
                        <div class="boxAtom text-center {{ Atomes[72].famille }}">
                            <span class="nom">{{ Atomes[72].nom }}</span>
                            <span class="symbole">{{ Atomes[72].symbole }}</span>
                            <span class="numero">{{ Atomes[72].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[72].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 73})}}">
                    {% if Atomes[73] is defined %}
                        <div class="boxAtom text-center {{ Atomes[73].famille }}">
                            <span class="nom">{{ Atomes[73].nom }}</span>
                            <span class="symbole">{{ Atomes[73].symbole }}</span>
                            <span class="numero">{{ Atomes[73].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[73].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 74})}}">
                    {% if Atomes[74] is defined %}
                        <div class="boxAtom text-center {{ Atomes[74].famille }}">
                            <span class="nom">{{ Atomes[74].nom }}</span>
                            <span class="symbole">{{ Atomes[74].symbole }}</span>
                            <span class="numero">{{ Atomes[74].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[74].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 75})}}">
                    {% if Atomes[75] is defined %}
                        <div class="boxAtom text-center {{ Atomes[75].famille }}">
                            <span class="nom">{{ Atomes[75].nom }}</span>
                            <span class="symbole">{{ Atomes[75].symbole }}</span>
                            <span class="numero">{{ Atomes[75].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[75].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 76})}}">
                    {% if Atomes[76] is defined %}
                        <div class="boxAtom text-center {{ Atomes[76].famille }}">
                            <span class="nom">{{ Atomes[76].nom }}</span>
                            <span class="symbole">{{ Atomes[76].symbole }}</span>
                            <span class="numero">{{ Atomes[76].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[76].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 77})}}">
                    {% if Atomes[77] is defined %}
                        <div class="boxAtom text-center {{ Atomes[77].famille }}">
                            <span class="nom">{{ Atomes[77].nom }}</span>
                            <span class="symbole">{{ Atomes[77].symbole }}</span>
                            <span class="numero">{{ Atomes[77].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[77].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 78})}}">
                    {% if Atomes[78] is defined %}
                        <div class="boxAtom text-center {{ Atomes[78].famille }}">
                            <span class="nom">{{ Atomes[78].nom }}</span>
                            <span class="symbole">{{ Atomes[78].symbole }}</span>
                            <span class="numero">{{ Atomes[78].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[78].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 79})}}">
                    {% if Atomes[79] is defined %}
                        <div class="boxAtom text-center {{ Atomes[79].famille }}">
                            <span class="nom">{{ Atomes[79].nom }}</span>
                            <span class="symbole">{{ Atomes[79].symbole }}</span>
                            <span class="numero">{{ Atomes[79].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[79].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 80})}}">
                    {% if Atomes[80] is defined %}
                        <div class="boxAtom text-center {{ Atomes[80].famille }}">
                            <span class="nom">{{ Atomes[80].nom }}</span>
                            <span class="symbole">{{ Atomes[80].symbole }}</span>
                            <span class="numero">{{ Atomes[80].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[80].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 81})}}">
                    {% if Atomes[81] is defined %}
                        <div class="boxAtom text-center {{ Atomes[81].famille }}">
                            <span class="nom">{{ Atomes[81].nom }}</span>
                            <span class="symbole">{{ Atomes[81].symbole }}</span>
                            <span class="numero">{{ Atomes[81].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[81].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 82})}}">
                    {% if Atomes[82] is defined %}
                        <div class="boxAtom text-center {{ Atomes[82].famille }}">
                            <span class="nom">{{ Atomes[82].nom }}</span>
                            <span class="symbole">{{ Atomes[82].symbole }}</span>
                            <span class="numero">{{ Atomes[82].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[82].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 83})}}">
                    {% if Atomes[83] is defined %}
                        <div class="boxAtom text-center {{ Atomes[83].famille }}">
                            <span class="nom">{{ Atomes[83].nom }}</span>
                            <span class="symbole">{{ Atomes[83].symbole }}</span>
                            <span class="numero">{{ Atomes[83].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[83].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 84})}}">
                    {% if Atomes[84] is defined %}
                        <div class="boxAtom text-center {{ Atomes[84].famille }}">
                            <span class="nom">{{ Atomes[84].nom }}</span>
                            <span class="symbole">{{ Atomes[84].symbole }}</span>
                            <span class="numero">{{ Atomes[84].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[84].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 85})}}">
                    {% if Atomes[85] is defined %}
                        <div class="boxAtom text-center {{ Atomes[85].famille }}">
                            <span class="nom">{{ Atomes[85].nom }}</span>
                            <span class="symbole">{{ Atomes[85].symbole }}</span>
                            <span class="numero">{{ Atomes[85].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[85].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 86})}}">
                    {% if Atomes[86] is defined %}
                        <div class="boxAtom text-center {{ Atomes[86].famille }}">
                            <span class="nom">{{ Atomes[86].nom }}</span>
                            <span class="symbole">{{ Atomes[86].symbole }}</span>
                            <span class="numero">{{ Atomes[86].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[86].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
        </tr>
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------- LIGNE 7 --------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <tr>
            <th>7</th>
            <td>
                <a href="{{path('app_read_atom', {'id': 87})}}">
                    {% if Atomes[87] is defined %}
                        <div class="boxAtom text-center {{ Atomes[87].famille }}">
                            <span class="nom">{{ Atomes[87].nom }}</span>
                            <span class="symbole">{{ Atomes[87].symbole }}</span>
                            <span class="numero">{{ Atomes[87].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[87].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 88})}}">
                    {% if Atomes[88] is defined %}
                        <div class="boxAtom text-center {{ Atomes[88].famille }}">
                            <span class="nom">{{ Atomes[88].nom }}</span>
                            <span class="symbole">{{ Atomes[88].symbole }}</span>
                            <span class="numero">{{ Atomes[88].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[88].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                {% if Actinides != false %}
                    <div class="boxAtom text-center actinide">
                        <span class="nom">Actinides</span><br>
                        <span class='numero'>89 - 103</span>
                    </div>
                {% else %}
                    <div class="boxAtom couleurTdVide"></div>
                {% endif %}

            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 104})}}">
                    {% if Atomes[104] is defined %}
                        <div class="boxAtom text-center {{ Atomes[104].famille }}">
                            <span class="nom">{{ Atomes[104].nom }}</span>
                            <span class="symbole">{{ Atomes[104].symbole }}</span>
                            <span class="numero">{{ Atomes[104].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[104].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 105})}}">
                    {% if Atomes[105] is defined %}
                        <div class="boxAtom text-center {{ Atomes[105].famille }}">
                            <span class="nom">{{ Atomes[105].nom }}</span>
                            <span class="symbole">{{ Atomes[105].symbole }}</span>
                            <span class="numero">{{ Atomes[105].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[105].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 106})}}">
                    {% if Atomes[106] is defined %}
                        <div class="boxAtom text-center {{ Atomes[106].famille }}">
                            <span class="nom">{{ Atomes[106].nom }}</span>
                            <span class="symbole">{{ Atomes[106].symbole }}</span>
                            <span class="numero">{{ Atomes[106].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[106].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 107})}}">
                    {% if Atomes[107] is defined %}
                        <div class="boxAtom text-center {{ Atomes[107].famille }}">
                            <span class="nom">{{ Atomes[107].nom }}</span>
                            <span class="symbole">{{ Atomes[107].symbole }}</span>
                            <span class="numero">{{ Atomes[107].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[107].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 108})}}">
                    {% if Atomes[108] is defined %}
                        <div class="boxAtom text-center {{ Atomes[108].famille }}">
                            <span class="nom">{{ Atomes[108].nom }}</span>
                            <span class="symbole">{{ Atomes[108].symbole }}</span>
                            <span class="numero">{{ Atomes[108].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[108].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 109})}}">
                    {% if Atomes[109] is defined %}
                        <div class="boxAtom text-center {{ Atomes[109].famille }}">
                            <span class="nom">{{ Atomes[109].nom }}</span>
                            <span class="symbole">{{ Atomes[109].symbole }}</span>
                            <span class="numero">{{ Atomes[109].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[109].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 110})}}">
                    {% if Atomes[110] is defined %}
                        <div class="boxAtom text-center {{ Atomes[110].famille }}">
                            <span class="nom">{{ Atomes[110].nom }}</span>
                            <span class="symbole">{{ Atomes[110].symbole }}</span>
                            <span class="numero">{{ Atomes[110].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[110].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 111})}}">
                    {% if Atomes[111] is defined %}
                        <div class="boxAtom text-center {{ Atomes[111].famille }}">
                            <span class="nom">{{ Atomes[111].nom }}</span>
                            <span class="symbole">{{ Atomes[111].symbole }}</span>
                            <span class="numero">{{ Atomes[111].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[111].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 112})}}">
                    {% if Atomes[112] is defined %}
                        <div class="boxAtom text-center {{ Atomes[112].famille }}">
                            <span class="nom">{{ Atomes[112].nom }}</span>
                            <span class="symbole">{{ Atomes[112].symbole }}</span>
                            <span class="numero">{{ Atomes[112].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[112].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 113})}}">
                    {% if Atomes[113] is defined %}
                        <div class="boxAtom text-center {{ Atomes[113].famille }}">
                            <span class="nom">{{ Atomes[113].nom }}</span>
                            <span class="symbole">{{ Atomes[113].symbole }}</span>
                            <span class="numero">{{ Atomes[113].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[113].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 114})}}">
                    {% if Atomes[114] is defined %}
                        <div class="boxAtom text-center {{ Atomes[114].famille }}">
                            <span class="nom">{{ Atomes[114].nom }}</span>
                            <span class="symbole">{{ Atomes[114].symbole }}</span>
                            <span class="numero">{{ Atomes[114].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[114].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 115})}}">
                    {% if Atomes[115] is defined %}
                        <div class="boxAtom text-center {{ Atomes[115].famille }}">
                            <span class="nom">{{ Atomes[115].nom }}</span>
                            <span class="symbole">{{ Atomes[115].symbole }}</span>
                            <span class="numero">{{ Atomes[115].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[115].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 116})}}">
                    {% if Atomes[116] is defined %}
                        <div class="boxAtom text-center {{ Atomes[116].famille }}">
                            <span class="nom">{{ Atomes[116].nom }}</span>
                            <span class="symbole">{{ Atomes[116].symbole }}</span>
                            <span class="numero">{{ Atomes[116].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[116].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 117})}}">
                    {% if Atomes[117] is defined %}
                        <div class="boxAtom text-center {{ Atomes[117].famille }}">
                            <span class="nom">{{ Atomes[117].nom }}</span>
                            <span class="symbole">{{ Atomes[117].symbole }}</span>
                            <span class="numero">{{ Atomes[117].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[117].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 118})}}">
                    {% if Atomes[118] is defined %}
                        <div class="boxAtom text-center {{ Atomes[118].famille }}">
                            <span class="nom">{{ Atomes[118].nom }}</span>
                            <span class="symbole">{{ Atomes[118].symbole }}</span>
                            <span class="numero">{{ Atomes[118].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[118].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
        </tr>
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------ LIGNE 8 ---------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <tr>
            <th></th>
            <td colspan="3" rowspan="2" class="affichage ZoneLigne8">
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 57})}}">
                    {% if Atomes[57] is defined %}
                        <div class="boxAtom text-center {{ Atomes[57].famille }}">
                            <span class="nom">{{ Atomes[57].nom }}</span>
                            <span class="symbole">{{ Atomes[57].symbole }}</span>
                            <span class="numero">{{ Atomes[57].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[57].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 58})}}">
                    {% if Atomes[58] is defined %}
                        <div class="boxAtom text-center {{ Atomes[58].famille }}">
                            <span class="nom">{{ Atomes[58].nom }}</span>
                            <span class="symbole">{{ Atomes[58].symbole }}</span>
                            <span class="numero">{{ Atomes[58].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[58].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 59})}}">
                    {% if Atomes[59] is defined %}
                        <div class="boxAtom text-center {{ Atomes[59].famille }}">
                            <span class="nom">{{ Atomes[59].nom }}</span>
                            <span class="symbole">{{ Atomes[59].symbole }}</span>
                            <span class="numero">{{ Atomes[59].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[59].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 60})}}">
                    {% if Atomes[60] is defined %}
                        <div class="boxAtom text-center {{ Atomes[60].famille }}">
                            <span class="nom">{{ Atomes[60].nom }}</span>
                            <span class="symbole">{{ Atomes[60].symbole }}</span>
                            <span class="numero">{{ Atomes[60].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[60].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 61})}}">
                    {% if Atomes[61] is defined %}
                        <div class="boxAtom text-center {{ Atomes[61].famille }}">
                            <span class="nom">{{ Atomes[61].nom }}</span>
                            <span class="symbole">{{ Atomes[61].symbole }}</span>
                            <span class="numero">{{ Atomes[61].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[61].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 62})}}">
                    {% if Atomes[62] is defined %}
                        <div class="boxAtom text-center {{ Atomes[62].famille }}">
                            <span class="nom">{{ Atomes[62].nom }}</span>
                            <span class="symbole">{{ Atomes[62].symbole }}</span>
                            <span class="numero">{{ Atomes[62].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[62].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 63})}}">
                    {% if Atomes[63] is defined %}
                        <div class="boxAtom text-center {{ Atomes[63].famille }}">
                            <span class="nom">{{ Atomes[63].nom }}</span>
                            <span class="symbole">{{ Atomes[63].symbole }}</span>
                            <span class="numero">{{ Atomes[63].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[63].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 64})}}">
                    {% if Atomes[64] is defined %}
                        <div class="boxAtom text-center {{ Atomes[64].famille }}">
                            <span class="nom">{{ Atomes[64].nom }}</span>
                            <span class="symbole">{{ Atomes[64].symbole }}</span>
                            <span class="numero">{{ Atomes[64].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[64].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 65})}}">
                    {% if Atomes[65] is defined %}
                        <div class="boxAtom text-center {{ Atomes[65].famille }}">
                            <span class="nom">{{ Atomes[65].nom }}</span>
                            <span class="symbole">{{ Atomes[65].symbole }}</span>
                            <span class="numero">{{ Atomes[65].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[65].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 66})}}">
                    {% if Atomes[66] is defined %}
                        <div class="boxAtom text-center {{ Atomes[66].famille }}">
                            <span class="nom">{{ Atomes[66].nom }}</span>
                            <span class="symbole">{{ Atomes[66].symbole }}</span>
                            <span class="numero">{{ Atomes[66].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[66].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 67})}}">
                    {% if Atomes[67] is defined %}
                        <div class="boxAtom text-center {{ Atomes[67].famille }}">
                            <span class="nom">{{ Atomes[67].nom }}</span>
                            <span class="symbole">{{ Atomes[67].symbole }}</span>
                            <span class="numero">{{ Atomes[67].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[67].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 68})}}">
                    {% if Atomes[68] is defined %}
                        <div class="boxAtom text-center {{ Atomes[68].famille }}">
                            <span class="nom">{{ Atomes[68].nom }}</span>
                            <span class="symbole">{{ Atomes[68].symbole }}</span>
                            <span class="numero">{{ Atomes[68].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[68].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 69})}}">
                    {% if Atomes[69] is defined %}
                        <div class="boxAtom text-center {{ Atomes[69].famille }}">
                            <span class="nom">{{ Atomes[69].nom }}</span>
                            <span class="symbole">{{ Atomes[69].symbole }}</span>
                            <span class="numero">{{ Atomes[69].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[69].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 70})}}">
                    {% if Atomes[70] is defined %}
                        <div class="boxAtom text-center {{ Atomes[70].famille }}">
                            <span class="nom">{{ Atomes[70].nom }}</span>
                            <span class="symbole">{{ Atomes[70].symbole }}</span>
                            <span class="numero">{{ Atomes[70].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[70].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 71})}}">
                    {% if Atomes[71] is defined %}
                        <div class="boxAtom text-center {{ Atomes[71].famille }}">
                            <span class="nom">{{ Atomes[71].nom }}</span>
                            <span class="symbole">{{ Atomes[71].symbole }}</span>
                            <span class="numero">{{ Atomes[71].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[71].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
        </tr>
        <!------------------------------------------------------------------------------------------------------------->
        <!------------------------------------------- LIGNE 9 --------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------->
        <tr>
            <th></th>
            
            <td>
                <a href="{{path('app_read_atom', {'id': 89})}}">
                    {% if Atomes[89] is defined %}
                        <div class="boxAtom text-center {{ Atomes[89].famille }}">
                            <span class="nom">{{ Atomes[89].nom }}</span>
                            <span class="symbole">{{ Atomes[89].symbole }}</span>
                            <span class="numero">{{ Atomes[89].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[89].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 90})}}">
                    {% if Atomes[90] is defined %}
                        <div class="boxAtom text-center {{ Atomes[90].famille }}">
                            <span class="nom">{{ Atomes[90].nom }}</span>
                            <span class="symbole">{{ Atomes[90].symbole }}</span>
                            <span class="numero">{{ Atomes[90].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[90].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 91})}}">
                    {% if Atomes[91] is defined %}
                        <div class="boxAtom text-center {{ Atomes[91].famille }}">
                            <span class="nom">{{ Atomes[91].nom }}</span>
                            <span class="symbole">{{ Atomes[91].symbole }}</span>
                            <span class="numero">{{ Atomes[91].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[91].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 92})}}">
                    {% if Atomes[92] is defined %}
                        <div class="boxAtom text-center {{ Atomes[92].famille }}">
                            <span class="nom">{{ Atomes[92].nom }}</span>
                            <span class="symbole">{{ Atomes[92].symbole }}</span>
                            <span class="numero">{{ Atomes[92].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[92].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 93})}}">
                    {% if Atomes[93] is defined %}
                        <div class="boxAtom text-center {{ Atomes[93].famille }}">
                            <span class="nom">{{ Atomes[93].nom }}</span>
                            <span class="symbole">{{ Atomes[93].symbole }}</span>
                            <span class="numero">{{ Atomes[93].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[93].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 94})}}">
                    {% if Atomes[94] is defined %}
                        <div class="boxAtom text-center {{ Atomes[94].famille }}">
                            <span class="nom">{{ Atomes[94].nom }}</span>
                            <span class="symbole">{{ Atomes[94].symbole }}</span>
                            <span class="numero">{{ Atomes[94].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[94].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 95})}}">
                    {% if Atomes[95] is defined %}
                        <div class="boxAtom text-center {{ Atomes[95].famille }}">
                            <span class="nom">{{ Atomes[95].nom }}</span>
                            <span class="symbole">{{ Atomes[95].symbole }}</span>
                            <span class="numero">{{ Atomes[95].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[95].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 96})}}">
                    {% if Atomes[96] is defined %}
                        <div class="boxAtom text-center {{ Atomes[96].famille }}">
                            <span class="nom">{{ Atomes[96].nom }}</span>
                            <span class="symbole">{{ Atomes[96].symbole }}</span>
                            <span class="numero">{{ Atomes[96].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[96].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 97})}}">
                    {% if Atomes[97] is defined %}
                        <div class="boxAtom text-center {{ Atomes[97].famille }}">
                            <span class="nom">{{ Atomes[97].nom }}</span>
                            <span class="symbole">{{ Atomes[97].symbole }}</span>
                            <span class="numero">{{ Atomes[97].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[97].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 98})}}">
                    {% if Atomes[98] is defined %}
                        <div class="boxAtom text-center {{ Atomes[98].famille }}">
                            <span class="nom">{{ Atomes[98].nom }}</span>
                            <span class="symbole">{{ Atomes[98].symbole }}</span>
                            <span class="numero">{{ Atomes[98].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[98].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 99})}}">
                    {% if Atomes[99] is defined %}
                        <div class="boxAtom text-center {{ Atomes[99].famille }}">
                            <span class="nom">{{ Atomes[99].nom }}</span>
                            <span class="symbole">{{ Atomes[99].symbole }}</span>
                            <span class="numero">{{ Atomes[99].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[99].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 100})}}">
                    {% if Atomes[100] is defined %}
                        <div class="boxAtom text-center {{ Atomes[100].famille }}">
                            <span class="nom">{{ Atomes[100].nom }}</span>
                            <span class="symbole">{{ Atomes[100].symbole }}</span>
                            <span class="numero">{{ Atomes[100].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[100].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 101})}}">
                    {% if Atomes[101] is defined %}
                        <div class="boxAtom text-center {{ Atomes[101].famille }}">
                            <span class="nom">{{ Atomes[101].nom }}</span>
                            <span class="symbole">{{ Atomes[101].symbole }}</span>
                            <span class="numero">{{ Atomes[101].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[101].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 102})}}">
                    {% if Atomes[102] is defined %}
                        <div class="boxAtom text-center {{ Atomes[102].famille }}">
                            <span class="nom">{{ Atomes[102].nom }}</span>
                            <span class="symbole">{{ Atomes[102].symbole }}</span>
                            <span class="numero">{{ Atomes[102].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[102].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{{path('app_read_atom', {'id': 103})}}">
                    {% if Atomes[103] is defined %}
                        <div class="boxAtom text-center {{ Atomes[103].famille }}">
                            <span class="nom">{{ Atomes[103].nom }}</span>
                            <span class="symbole">{{ Atomes[103].symbole }}</span>
                            <span class="numero">{{ Atomes[103].numero }}</span>
                            <span class="masseAtomique">{{ Atomes[103].masseAtomique|round(2, 'ceil') }}</span>
                        </div>
                    {% else %}
                        <div class="boxAtom couleurTdVide"></div>
                    {% endif %}
                </a>
            </td>
        </tr>
    </table>
</div>