{% extends 'base.html.twig' %}
{% block body %}
    {#  "listeDefinition" :  C'est la table des définitions avec pour clé la colonne "name_property_element", le nom exact des colonne de la table élément  #}
    {#  "infoElement" :  C'est le retour de toutes les informations d'un élément  #}
<section class="readAtom">

    <div class="element-hero">
        <div class="element-card-hero" style="border-color: {{ infoElement.elementCategory.color }};">
            <span class="hero-number">{{ infoElement.numero }}</span>
            <span class="hero-symbol" style="color: {{ infoElement.elementCategory.color }};">{{ infoElement.symbole }}</span>
            <span class="hero-name">{{ infoElement.nom }}</span>
            <span class="hero-category">{{ infoElement.elementCategory.getName() }}</span>
        </div>
        <div class="element-hero-desc">
            <p>{{ infoElement.infoElement }}</p>
        </div>
    </div>

    <div class="container element-props-container">
        <table class="table element-table">
            <tbody>
    {# propertiesElements est la liste des attributs (colonne) de la table élément. #}
                {% for propertiesElement in propertiesElements %}
                    {% set elementColumn = propertiesElement %}

                    {% if propertiesElement != 'elementCategory' and propertiesElement != 'elementGroupe' %}
                        <tr class="data-row">
                            <th scope="row" class="col-5">
                                {% if listeDefinition[elementColumn] is defined %}
                                    {{ listeDefinition[elementColumn].getName() }}
                                {% else %}
                                    {{ propertiesElement|capitalize }}
                                {% endif %}
                            </th>
                            <td class="col-6">
                                {{ attribute(infoElement, elementColumn) }}
                            </td>
                            <td class="col-1 text-end">
                                {% if listeDefinition[elementColumn] is defined %}
                                    <button class="show-info btn-info-element" data-target="definition-{{elementColumn}}">Info</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% if listeDefinition[elementColumn] is defined %}
                        <tr class="def-row">
                            <td colspan="3" id="definition-{{elementColumn}}" class="definitionAttributs" style="display: none;">
                                {{ listeDefinition[elementColumn].getDefinition() | nl2br }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endif %}

    {# propertiesElement est soit elementCategory ou elementGroupe, gestion à l'écart car jointure #}
                    {% if propertiesElement == 'elementCategory' or propertiesElement == 'elementGroupe' %}
                        <tr class="data-row">
                            <th scope="row" class="col-5">
                                {% if listeDefinition[propertiesElement] is defined %}
                                    {{ listeDefinition[propertiesElement].getName() }}
                                {% else %}
                                    {{ propertiesElement|capitalize }}
                                {% endif %}
                            </th>
                            {% if propertiesElement == 'elementCategory' %}
                                <td class="col-6">{{ infoElement.elementCategory.getName() }}</td>
                            {% elseif propertiesElement == 'elementGroupe' %}
                                <td class="col-6">{{ infoElement.elementGroupe.getName() }}</td>
                            {% endif %}
                            <td class="col-1 text-end">
                                {% if listeDefinition[elementColumn] is defined %}
                                    <button class="show-info btn-info-element" data-target="definition-{{elementColumn}}">Info</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% if listeDefinition[elementColumn] is defined %}
                        <tr class="def-row">
                            <td colspan="3" id="definition-{{elementColumn}}" class="definitionAttributs" style="display: none;">
                                {{ listeDefinition[elementColumn].getDefinition() | nl2br }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>
{% endblock %}