{% extends 'base.html.twig' %}
{% block body %}
    {#  "listeDefinition" :  C'est la table des définitions avec pour clé la colonne "name_property_element", le nom exact des colonne de la table élément  #}
    {#  "infoElement" :  C'est le retour de toutes les informations d'un élément  #}
<section class="readAtom">
    <article>
        <div class="container">
            <h1 class="text-center my-5">{{ infoElement.nom}} </h1>
            <p class="my-5">{{ infoElement.infoElement}}</p>
            <table class="table">
                <tbody>
    {# propertiesElements est la liste des attributs (colonne) de la table élément.   #}
                {% for propertiesElement in propertiesElements %}
                    {% set elementColumn = propertiesElement %}

                    {% if propertiesElement != 'elementCategory' and propertiesElement != 'elementGroupe'%}{# Les deux sont des jointure et donc seront traitées par la suite#}
                        <tr>
                            <th scope="row" class="col-6">
                                {% if listeDefinition[elementColumn] is defined  %}
                                    {{ listeDefinition[elementColumn].getName()}}
                                {% else %}
                                {{ propertiesElement|capitalize }}
                                {% endif %}
                            </th>
                            <td>
                                {{ attribute(infoElement, elementColumn) }}
                            </td>
                            <td >
                                {% if listeDefinition[elementColumn] is defined  %}
                                        <button class="show-info" data-target="definition-{{elementColumn}}">info</button>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            {% if listeDefinition[elementColumn] is defined  %}
                                <td colspan="2" id="definition-{{elementColumn}}" class="definitionAttributs" style="display: none;">
                                    {{ listeDefinition[elementColumn].getDefinition() | nl2br }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}

{# propertiesElement est soit  elementCategory ou elementGroupe, gestion a l'écart car jointure  #}
                    {% if propertiesElement == 'elementCategory' or propertiesElement == 'elementGroupe' %}
                        <tr>
                            <th scope="row" class="col-6">
                                {% if listeDefinition[propertiesElement] is defined  %}
                                    {{ listeDefinition[propertiesElement].getName()}}
                                {% else %}
                                    {{ propertiesElement|capitalize}}
                                {% endif %}
                            </th>
                            {% if propertiesElement == 'elementCategory' %}
                                <td>{{ infoElement.elementCategory.getName() }}</td>
                            {% elseif propertiesElement == 'elementGroupe' %}
                                <td>{{ infoElement.elementGroupe.getName() }}</td>
                            {% endif %}
                            <td >
                                {% if listeDefinition[elementColumn] is defined  %}
                                    <button class="show-info" data-target="definition-{{elementColumn}}">info</button>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            {% if listeDefinition[elementColumn] is defined  %}
                                <td colspan="2" id="definition-{{elementColumn}}" class="definitionAttributs" style="display: none;">
                                    {{ listeDefinition[elementColumn].getDefinition() | nl2br }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>


{% endblock %}
