{% extends 'base.html.twig' %}


{% block body %}

<section class="readAtom">
    <article>
        <div class="container">
            <h1 class="text-center my-5">{{ atome.nom}} </h1>
            <p class="my-5">{{ atome.infoElement}}</p>
            <table class="table">
                <tbody>
                <tr>
                    <th class="col-8" scope="row">L'année de découverte</th>
                    <td>{{ atome.decouverteAnnee }}</td>
                </tr>
                <tr>
                    <th scope="row">Localisation de la découverte</th>
                    {% if atome.decouvertePays is empty%}
                        <td>NC</td>
                    {% else %}
                        <td>{{ atome.decouvertePays }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th scope="row">Découverte par</th>
                    {% if atome.decouverteNoms is empty%}
                        <td>NC</td>
                    {% else %}
                        <td>{{ atome.decouverteNoms }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th scope="row">Symbole chimique</th>
                    <td>{{ atome.symbole }}</td>
                </tr>
                <tr>
                    <th scope="row">Numéro atomique</th>
                    <td>{{ atome.numero }}</td>
                </tr>
                <tr>
                    <th scope="row">Masse atomique <span class="infosup">?</span> </th>
                    <td>{{ atome.masseAtomique }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[4].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Categorie</th>
                    <td>{{ atome.atomCategory.getName() }}</td>
                </tr>
                <tr>
                    <th scope="row">Groupe</th>
                    <td>{{ atome.atomGroupe.getName() }}</td>
                </tr>
                <tr>
                    <th scope="row">Masse volumique <span class="infosup">?</span> </th>
                    <td>{{ atome.MasseVolumique }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[1].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">CAS <span class="infosup">?</span> </th>
                    <td>{{ atome.cas}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[2].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">EINECS <span class="infosup">?</span> </th>
                    <td>{{ atome.einecs}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[3].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Rayon atomique <span class="infosup">?</span> </th>
                    <td>{{ atome.RayonAtomique}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[5].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Rayon de covalence <span class="infosup">?</span> </th>
                    <td>{{ atome.RayonDeCovalence}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[6].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Rayon de Van Der Waals <span class="infosup">?</span> </th>
                    <td>{{ atome.RayonDeVanDerWaals}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[7].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Electron <span class="infosup">?</span> </th>
                    <td>{{ atome.electron}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[8].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Configuration électronique <span class="infosup">?</span> </th>
                    <td>{{ atome.configurationElectronique}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[9].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Etat d'oxydation <span class="infosup">?</span> </th>
                    <td>{{ atome.etatOxydation}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[10].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Électronégativité<span class="infosup">?</span> </th>
                    <td>{{ atome.electronegativite}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[11].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Point de Fusion<span class="infosup">?</span> </th>
                    <td>{{ atome.pointDeFusion}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[12].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Point d'ébullition<span class="infosup">?</span> </th>
                    <td>{{ atome.pointDEbullition}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ listeDefinition[13].getDefinition() }}</td>
                </tr>
                <tr>
                    <th scope="row">Radioactivité<span class="infosup">?</span> </th>
                    {% if atome.radioactif == true %}
                        <td>Oui</td>
                    {% else %}
                        <td>Non</td>
                    {% endif %}

                </tr>
                </tbody>
            </table>

        </div>
    </article>
</section>


{% endblock %}
