{% extends 'base.html.twig' %}
{% block body %}
<section class="readAtom">
    <article>
        <div class="container">
            <h1 class="text-center my-5">{{ elements.nom}} </h1>
            <p class="my-5">{{ elements.infoElement}}</p>
            <table class="table">
                <tbody>
                {% set elementCategory = 'elementCategory' %}
                {% set elementGroupe = 'elementGroupe' %}

                {% for propertiesElement in propertiesElements %}
                    {% set variable = propertiesElement %}
                    {% if propertiesElement != elementCategory and propertiesElement != elementGroupe %}
                        <tr>
                            <th scope="row" class="col-6">
                                {% if listeDefinition[variable] is defined  %}
                                    {{ listeDefinition[variable].getName()}}
                                {% else %}
                                {{ propertiesElement}}
                                {% endif %}
                                <span class="infosup">?</span>
                            </th>
                            <td>
                                {{ attribute(elements, variable) }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {% if listeDefinition[variable] is defined  %}
                                    {{ listeDefinition[variable].getDefinition() }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if propertiesElement == elementCategory %}
                        <tr>
                            <th scope="row">Categorie</th>
                            <td>{{ elements.elementCategory.getName() }}</td>
                        </tr>
                    {% endif %}
                    {% if propertiesElement == elementGroupe %}
                        <tr>
                            <th scope="row">Groupe</th>
                            <td>{{ elements.elementGroupe.getName() }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>


{% endblock %}
