{% extends 'base.html.twig' %}

{% block title %}Hello ReadApiDocumentationController!{% endblock %}

{% block body %}
<section>
    <article>
        <div class="container-fluid">
            <h1 class="text-center my-5">Documentation de l'API du tableau périodique des éléments</h1>
            <div class="row">
                <div class="col-12 col-lg-4 ">
                    <table class="table table-bordered blocChapitre">
                        <thead>
                        <tr>
                            <th scope="col">Chapitres</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for apiDoc in apiDocs %}
                            <tr>
                                <td><a href="#Doc{{ apiDoc.Id }}">{{ apiDoc.Title }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-8">
                    <table class="table">
                        <tbody>
                        {% for apiDoc in apiDocs %}
                            <tr>
                                <td>
                                    <h3 class="text-center" id="Doc{{ apiDoc.Id }}">{{ apiDoc.Title }}</h3>
                                    <div class="infoDocApi">
                                        <p>{{ apiDoc.Description | nl2br }}</p>
                                    </div>
                                    {% if apiDoc.Endpoint1 is not empty  %}
                                        <div class="infoDocApi">
                                            <ul>
                                                <h5>Endpoints :</h5>
                                                <li>{{ apiDoc.Endpoint1 | nl2br }}</li>
                                                {% if apiDoc.Endpoint2 is not empty  %}
                                                    <li>{{ apiDoc.Endpoint2  | nl2br}}</li>
                                                {% endif %}
                                                {% if apiDoc.Endpoint3 is not empty  %}
                                                    <li>{{ apiDoc.Endpoint3  | nl2br}}</li>
                                                {% endif %}
                                                {% if apiDoc.Endpoint4 is not empty  %}
                                                    <li>{{ apiDoc.Endpoint4  | nl2br}}</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    {% if apiDoc.ExampleRequest1 is not empty %}
                                        <div class="infoDocApi">
                                            <ul>
                                                    <h5>Exemple de requête :</h5>
                                                    <li>{{ apiDoc.ExampleRequest1  | nl2br}}</li>
                                                {% if apiDoc.ExampleRequest2 is not empty  %}
                                                    <li>{{ apiDoc.ExampleRequest2 | nl2br }}</li>
                                                {% endif %}
                                                {% if apiDoc.ExampleRequest3 is not empty  %}
                                                    <li>{{ apiDoc.ExampleRequest3  | nl2br}}</li>
                                                {% endif %}
                                                {% if apiDoc.ExampleRequest4 is not empty  %}
                                                    <li>{{ apiDoc.ExampleRequest4  | nl2br}}</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    {% if apiDoc.ExampleResponse is not empty  %}
                                        <div class="infoDocApi">
                                            <h5>Exemple de réponse : </h5>
                                            <p class="ExempleResponseAPIDOC" style="white-space: pre-wrap;">{{ apiDoc.ExampleResponse }}</p>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </article>
</section>
{% endblock %}
