
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Tableau de Mendeleïev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %} active {% endif %} " href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_tableau' %} active {% endif %} " href="{{ path('app_tableau') }}">Les éléments</a>
            </li>
            {% if app.user is not null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_read_api_documentation') }}">Documentation API</a>
            </li>
            {% endif %}
        </ul>
        {% if app.user is null %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link  {% if app.request.attributes.get('_route') == 'app_login' %} active {% endif %}" href="{{ path('app_login') }}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  {% if app.request.attributes.get('_route') == 'app_register' %} active {% endif %}" href="{{ path('app_register') }}">Enregistrement</a>
            </li>
        </ul>
        {% else %}
                {% if is_granted("ROLE_ADMIN") %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin') }}">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    </ul>
                {% elseif is_granted("ROLE_USER") %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    </ul>
                {% endif %}
        {% endif %}

    </div>
</nav>